<h1 class="text-center my-4">TO DO</h1>
<form [formGroup]="myForm" (submit)="onSubmit()">
    <div class="row mb-3">
        <label for="inputTitle" class="col-sm-2 col-form-label fw-bold">Titulo</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTitle" formControlName="title"/>
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputDescription" class="col-sm-2 col-form-label fw-bold">Descripcion</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDescription" formControlName="description"/>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Añadir</button>
    </div>

</form>